/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
           bindings = <
            &kp Q    &kp W    &kp E   &kp R &kp T                     &kp Y   &kp U     &kp I     &kp O   &kp P
            &kp A    &kp S    &kp D   &kp F &kp G                     &kp H   &kp J     &kp K     &kp L   &kp SEMI
            &kp Z    &kp X    &kp C   &kp V &kp B &kp C_MUTE &kp CAPS &kp N   &kp M     &kp COMMA &kp DOT &kp FSLH
            &kp LCMD &kp BSPC &kp DEL                                 &kp RET &kp SPACE &kp RCMD
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
